<form name="templateForm">
    
    <div>
        <label for="title">Titel
        </label>
        <input type="text" class="form-control" id="title" />
        
        <br /><br />

        <label for="description">Beschreibung
        </label>
         <input type="text" class="form-control" id="description" />

         <br />
         <label for="content">Inhalt
        </label>
        <div text-angular="text-angular" name="htmlcontent" ></div>
        <!--<textarea class="textarea" id="description" ng-model="items[selectedIndex].desc" style="display: none;">
            
        </textarea>-->
        
    <button ng-action="addNewTemplate(title, description, htmlcontent)">Create</button>  
        
    </div>
</form> 