<form class="form-horizontal" ng-submit="addNewTemplate()" ng-controller="templateController" role="form" name="addTemplateForm">

    <div class="form-group">

        <label for="title" class="col-sm-2 control-label" >Titel</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="title" ng-model="newTemplate.title"  />
        </div>
        <div class="col-sm-3">
            <div class="checkbox">
                <input type="checkbox" id="visible" ng-model="newTemplate.visible"  />
                <label for="visible" class="control-label" >Visible</label>
            </div>
        </div>
    </div>    

    <div class="form-group">

        <label for="description" class="col-sm-2 control-label">Beschreibung</label>
        <div class="col-sm-7">
            <input type="text" class="form-control" id="description" ng-model="newTemplate.description"  />
        </div>
    </div> 

    <div class="form-group">
        <label for="htmlcontent" class="col-sm-2 control-label">Inhalt</label>
        <div class="col-sm-7">
            <text-angular ta-toolbar="[['bold','italics','underline','ul','ol','html']]" ta-toolbar-class="btn-toolbar" name="htmlcontent" ng-model="newTemplate.content" ta-disabled='disabled'></text-angular>
        </div>
    </div>

    <div id="add_button">
        <button type="submit" class="btn btn-success btn-lg btn-block">
            <span class="glyphicon glyphicon-flash"></span> Create!
        </button>
    </div>
</form>    


